# --- Núcleo de la API y Servidor ---
fastapi
uvicorn
python-dotenv
pydantic
gunicorn
python-multipart

# --- Framework de IA y Orquestación ---
langchain
langchain-core
langchain-community
langgraph
langgraph-checkpoint-sqlite
langchain-google-genai
langchain-ollama

# --- Herramientas de Búsqueda y Navegación ---
playwright
langchain-tavily
tavily-python
beautifulsoup4
requests
rapidfuzz

# --- Base de Datos Vectorial (RAG) ---
langchain-chroma
chromadb
pypdf
langchain-text-splitters

# --- Procesamiento de PDFs ---
docling

# --- Audio y Voz (STT/TTS) ---
soundfile
numpy
transformers
accelerate
Pillow
timm
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
kokoro-onnx

# --- Base de Datos / Sistema ---
# pysqlite3-binary (solo necesario en Linux/Coolify)
pysqlite3-binary