# --- Núcleo de la API y Servidor ---
fastapi
uvicorn
python-dotenv
pydantic
gunicorn

# --- Framework de IA y Orquestación ---
langchain
langchain-core
langchain-community
langgraph
langchain-google-genai

# --- Herramientas de Búsqueda y Navegación ---
playwright
langchain-tavily
beautifulsoup4
requests
rapidfuzz

# --- Base de Datos Vectorial (RAG) ---
langchain-chroma
chromadb
pypdf
langchain-text-splitters

# --- Procesamiento de PDFs ---
docling

# --- Base de Datos / Sistema ---
# pysqlite3-binary (solo necesario en Linux/Coolify)
